#Titulo{background-color: black;

font-weight: bolder;}
#Subtitulo{background-color: aquamarine;}
.P{color: blueviolet;}

p{text-align: center;
  text-decoration: solid;
  text-shadow: 3em;
  font-weight: 900;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    font-size: larger;
    border: 1.8em;
    background-color: black;
 background-image:url(/a177dfc84703c31afa0d501ccf43fe4f.gif) 

 

    
}
h1{color: azure;}
